@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: url(../assets/images/Background.png); 
}
.logo {
  background-image: url(../assets//images/Group\ 120.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 465px;
  height: 166px;
  object-fit: contain;
  margin-right: 30px;
}

@media only screen and (max-width: 580px) {

  .btn {
    width: 380px;
    height: 80px;
    font-size: 1.5rem;
  }
  
  .text {
    font-size: 18px;
  }
  .label {
    font-size: 10px;
  }
  .time {
    font-size: 15px;
  }
}
@media (min-width: 580px) and (max-width: 768px) {
  
.btn {
  width: 540px;
  height: 100px;
  font-size: 2.3rem;
}

.text {
  font-size: 1.8rem;
}
.label {
  font-size: 10px;
}
.time {
  font-size: 20px;
}
}

@media (min-width: 768px) and (max-width: 992px) {

  .btn {
    width: 640px;
    height: 120px;
    font-size: 2.6rem;
  }
  
  .text {
    font-size: 2rem;
     margin: 50px 0 10px 0;
  }
  
}

@media (min-width: 992px) and (max-width: 1200px){
  
  .btn {
    width: 680px;
    height: 140px;
    font-size: 2.6rem;
  }
  
  .text {
    font-size: 2rem;
     margin: 50px 0 10px 0;
  }


}
